.judy-modal-overlay {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
}

.judy-modal-container {
  background: #fff;
  border: 1px solid #ababab;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  height: auto;
  padding: 10px;
  font-family: arial,sans-serif;
  font-size: 14px;
  position: absolute;
  z-index: 998;
}

.judy-modal-header {
  height: 20px;
  overflow: hidden;
  clear: both;
}

.judy-modal-close {
  cursor: pointer;
  display: block;
  opacity: 0.6;
  float: right;
  height: 20px;
  width: 20px;
}
.judy-modal-close:hover {
  opacity: 1.0;
}

#modal-content {
  display: block;
  padding: 0 20px 10px 20px;
  z-index: 999;
}

#modal-container.modal-loading {
  background: #fff url('../images/jsmodal/loading.gif') no-repeat center center;
}